body {
    font-family: Arial, sans-serif;
}

.navbar-brand img {
    width: 75px;
    height: 75px;
}

.btn-primary {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.dropdown-menu {
    background-color: #f8f9fa;
}

.dropdown-item {
    color: #333;
}

.caixa {
    padding: 30px ;
}

.text-center {
    text-align: center;
}

main {
    padding-top: 50px;
    padding: 20px;
}